<h1>{{title}}</h1>
<p id='ppl'>{{active}}</p>

<ul id="messages"></ul>
<input id="message-input" type=text autocomplete="off">
<input id='btn' type="button" value="Submit">

<script>
	var socket = io();
	var button = document.querySelector('input[type=button]');
	console.log(button);
	button.addEventListener('click', sendMessage);


	$("#message-input").keyup(function(event){
	    if(event.keyCode == 13){
	        $("#btn").click();
	    }
	});

	function sendMessage(evt) {
		if(document.querySelector('#message-input').value != ''){
			console.log('sending message', evt);
			socket.emit('chat message', document.querySelector('#message-input').value);
			document.querySelector('#message-input').value = '';
		}
	}

	socket.on('chat message', onMessage);
	function onMessage(msg) {
		document.querySelector('#messages').appendChild(document.createElement('p')).textContent = msg;
	}

	socket.on('online now', online);
	function online(ppl) {
		document.querySelector('#ppl').textContent = ppl + ' online now';
	}
	
</script>
		