
<div id='head'>
	<h1>{{title}}</h1>
	<p id='ppl'>{{active}}</p>
</div>

<div class='chat'>
	<ul id="messages"></ul>
</div>



<div id='field'>
	<input id="message-input" type=text autocomplete="off">
	<input id='btn' type="button" value="Send">
</div>

<script>
	var socket = io();
	var button = document.querySelector('input[type=button]');
	console.log(button);
	button.addEventListener('click', sendMessage);

	var $chat = $('.chat'),
		$printer = $('#messages', $chat),
		printerH  = $printer.innerHeight();

	//// SCROLL BOTTOM	
	function scrollBottom(){
		$printer.stop().animate( {scrollTop: $printer[0].scrollHeight - printerH  }, 600); // SET SCROLLER TO BOTTOM
	}	




	$('#message-input').focus();


	$("#message-input").keyup(function(event){
	    if(event.keyCode == 13){
	        $("#btn").click();
	    }
	});


	function sendMessage(evt) {
		if(document.querySelector('#message-input').value != ''){
			console.log('sending message', evt);
			socket.emit('chat message', document.querySelector('#message-input').value);
			document.querySelector('#message-input').value = '';
		}
	}

	socket.on('chat message', onMessage);
	function onMessage(msg) {
		document.querySelector('#messages').appendChild(document.createElement('p')).textContent = msg;
		scrollBottom();
		// window.scrollTo(0,document.body.scrollHeight);
	}

	socket.on('online now', online);
	function online(ppl) {
		document.querySelector('#ppl').textContent = ppl + ' online now';
	}
	
</script>
		